body { 
    font: normal .80em 'trebuchet ms', arial, sans-serif;
    background: #F5F5EE;
    color: #555;
}

.header {
    background: #323534;
    display: flex;
    justify-content: center;
}
.header h1 { 
    color: white;
    font: normal 300% 'century gothic', arial, sans-serif;
    margin: 10px 0 0 0;
}    
.header h1 span { 
    color: #E4EC04;
}

.nav {
    background: #323534;
    display: flex;
    justify-content: flex-end;    
}

.nav ul li {
    float: left;
    list-style: none;
    padding:  0 5px 0 0 ;
}

.nav ul li a { 
    background-color: #00C6F0;
    height: 20px;
    padding: 6px 35px 5px 28px;
    text-align: center;
    color: #FFF;
    text-decoration: none;
    border-radius: 5%;
} 

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #F5F5EE;
}
.aside {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #F5F5EE;
}

.footer {
    display: flex;
    justify-content: space-between;
}

#footer { 
    padding: 28px 0 5px 0;
    text-align: center; 
    background: #3B3939;
    color: #A8AA94;
}

#footer p { 
    line-height: 1.7em;
    padding: 0 0 10px 0;
}

#footer a { 
    color: #A8AA94;
    text-decoration: none;
}

#footer a:hover { 
    color: #FFF;
    text-decoration: none;
}

.personal-image {
    border-radius: 50%;
}

.article-footer {
    font-size: small;
}


form input, form textarea { 
    padding: 5px; 
    width: 299px; 
    border: 1px solid #E5E5DB; 
    background: #FFF; 
    color: #47433F;
}

form button { 
    font: normal .80em 'trebuchet ms', arial, sans-serif;
    border: 0; 
    width: 99px; 
    margin: 5px 0 0 106px; 
    height: 33px;
    background: #3B3B3B; 
    color: #FFF;}

.sidebar_item { 
    background: white;
    padding: 0 15px;
    border-radius: 10%;
}
